name: Deploy Config

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main
    - name: Cache Nix
      uses: DeterminateSystems/magic-nix-cache-action@main
    
    - name: Build
      run: nix build .#packaged-mod

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: bp-ort-mod
        path: |
          result/
